<html>
<head>
    <title>Twinkle Server</title>
    
<style type="text/css" media="screen">

.stakeholder {
    display: block;
    background-color: #DDD;
    width: 100px;
    height: 100px;
}

#forhandler {
    position: absolute;
    right: 10%;
    bottom: 10%;
}   

#cueii {
    position: absolute;
    left: 40%;
    top: 10%;
} 

#consumer {
    position: absolute;
    left: 10%;
    bottom: 10%;
}

</style>

</head>
<body>
Unbound possibilities – little else.

<div id="forhandler" class="stakeholder">
    forhandler
</div>

<div id="cueii" class="stakeholder">
    CUEii
</div>

<div id="consumer" class="stakeholder">
    Konsumer
</div>

</body>
</html>